


//en of animation stuff =)


.App {
  background-color: #131516 !important;
}

.card-body {
  background-color: #dee2e2;
}

.card {
  margin-top: 2em;
  margin-bottom : 30px;
  margin-left : auto;
  margin-right : auto;
  background-color: transparent !important;
}

#lolcat {
text-align: center;
}

.App-link {
  color: #61dafb;
}

/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
"info": tomato,
"danger": teal
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";