@font-face {
  font-family: "Open Sans";
  src: url("Kawaru.ttf") format("truetype");

}

body {

  background-color: #081823 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 5em !important;
  font-family: "Kawaru", serif !important;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  margin-top: 20px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
